@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway&display=swap');
:root {
    --header-color: white;
    --accent-color: red;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--header-color);
    text-transform: capitalize;
    text-decoration: none;
}

@media (min-width: 550px){
    header .entire-topbox {
        display: grid;  
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;    
        align-items: center;
        padding: 0;
        margin: 0;
    }   
}

@media (min-width: 520px){
    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 640px){
    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

body {
    max-width: 980px;
    margin: 0 auto;
}

header .entire-topbox {
    font-family: 'Raleway';
    font-size: 0.8rem;
    height: 92px;   
    flex:1; 
    align-items: center;
    }

header .menu-items {
    list-style-type: none;
    display: flex;
    justify-content: space-around;   
    padding: 5px;
    margin: 0;
}


header .menu-items a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

header .logotext p {
    font-family: Pacifico, cousive;
    font-size: 2em;
    color: var(--header-color);
    text-align: center;
    margin: 5px;
}

header .logotext {
    justify-content: center; 
    align-self: center;   
}

li {
    list-style-type: none;
    color: var(--header-color);
    font-size: 1rem;
} 

header .search-cart {
    display: flex;  
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 5px;
}

header .timestamp {
    color: var(--header-color);
    justify-items: space-around;
    font-family: 'Raleway';
}

header .banner {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    height: 150px;
}

header .banner h1 {
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: var(--header-color);
    margin-top: 85px;
}

header {
    min-height: 420px;
    background-image: url(../img/header-coffee-cups.jpg);
    background-size: cover;
    background-position: center;
}

main .container {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}   

.text-under-header {
    text-align: center;
}

main aside img {
    display: block;
    width: 100%;
}

main h2{
    display: flex;  
    justify-content: center;    
}

main aside { 
        min-height: 280px;
        background-image: url(../img/coffee-fields.jpg);
        background-size: cover;
        background-position: center;
        margin-bottom: 15px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
}

main aside h2{
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: var(--header-color);
    margin: 5px;
    text-align: center;
}

main #coffee-quotes{
    display: flex;
    flex-direction: column; 
    justify-items: center;
    align-items: center;
}

#shop-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: transparent;
}

.animated {
  animation: pulse;  
  animation-duration: 2s;
  animation-delay: 2s;  
  animation-iteration-count: infinite;
}

#shop-button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    .shop-button{
    display:block;
    margin:0.4em auto
    }
}

footer {
    display: flex;
    flex:1;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    background-color: #323b40;
    align-items: center;
    justify-content: space-between;
}

footer .social-media-icons-list {
    list-style-type: none;
    display: flex;
    justify-items: space-around;   
    padding: 5px;
    margin: 0;
}

footer a {
    padding-left: 15px;
    padding-right: 15px;
}

.team {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}