@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway&display=swap');

:root {
    --header-color:white;
    --accent-color:red;
}

body {
    max-width: 980px;
    margin: auto;
}
header .entire-topbox {
    font-family: 'Raleway';
    font-size: 0.8rem;
    height: 90px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 1px solid transparent;
}
header .menu-items {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 355px;
    margin: 0 auto;
    height: 90px;
    border: 1px solid var(--header-color);
}

header .menu-items a {
    color: var(--header-color);
    text-transform: capitalize;
    text-decoration: none;
}

header .menu-items a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

header .logotext p{
    font-family: Pacifico, cousive;
    font-size: 2em;
    color: var(--header-color);
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
    border: 1px solid var(--header-color);
}

header .search {
    height: 90px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 225px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid var(--header-color)
}

header .social-icons {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    color:var(--header-color);
    margin: 0 auto;
    padding: 5px;
    width: 130px;
    height: 90px;
    border: 1px solid var(--header-color);
}

header .banner{
    display: grid;
    justify-items: center;
    aligh-itens: center;
}

header .banner h1{
    justify-content: center;
    font-family: 'Raleway';
    font-size: 2rem;
    color: var(--header-color);
}
header {
    min-height: 420px;
    background-image: url(../img/header-coffee-cups.jpg);
    background-size: cover;
    background-position: center;
 }



